<!-- provides a short description of Sweet Tooth Inc. Nav bar to home page. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chartset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/web_design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-customclass navbar-expand-lg">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-mobile navbar-toggler-icon icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-mobile collapse navbar-collapse" id="navbarSupportedContent">
            <center>
            <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        Home  <i class="bi-house-door-fill" style="font-size: 1.5rem;"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="research.html">
                        Research    <i class="bi-search" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="experience.html">
                        Experience <i class="bi-boxes" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="play.html">
                        Play <i class="bi-brush" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sites.html">
                        Other Sites <i class="bi-usb-symbol" style="font-size: 1.5rem;"></i>
                        </a>
                    </li>
            </ul>
            </div>
            </center>
        </div>
    </nav>

    <!-- for mobile sites -->
    <script>
        function myFunction() {
          var x = document.getElementById("mynavbar-mobile");
          if (x.className === "navbar-mobile") {
            x.className += " responsive";
          } else {
            x.className = "navbar-mobile";
          }
        }
    </script>

        <div class="transition">
            <div class="container">
                <p class="padding"></p>
                <p class="padding"></p>
                <div class="row head_wink_wink justify-content-center align-items-center">
                    <div class="col-md-10">
                    Research
                    <p class="peepee_desc">
                        NOTE: all the text in <a href="#">light blue</a> are active links. Click on any <a href="#">light blue text</a> 
                        to be taken to an external link!
                    </p>
                    </div>
                </div>
                <div class="row deez_nuts_subhead justify-content-center align-items-center">
                    <div class="col-md-10">
                    General Interests
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-10">
                        
                        <p class="peepee_desc">
                            My research interests are numerical methods and algorithms, high-performance scientific computing, 
                            modeling and simulation, and computational geometry, which were broadly-inspired by my interdisciplinary training
                            in various areas of computational science. 
                            At MIT, I work with Dr. Tess Smidt to advance atomistic physical studies with scientific computing and machine learning.
                            Previously, I've done simulation and machine learning work to support research in 
                            material science, physics, and chemical engineering.
                        </p>
                        
                    </div>
                </div>
                <div class="row deez_nuts_subhead justify-content-center align-items-center">
                    <div class="col-md-10">
                    Research Plan for NSF GRF Application
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-10">
                        <p class="peepee_desc">
                            This <a href="../static/Ladera_Adriana_research_plan.pdf">research plan</a> is a technical writing research proposal that helped me to win the NSF Graduate Research Fellowship in 2022!
                            For applicant classification purposes, I was a Level 1 applicant (undergraduate senior planning to enroll in graduate school next fall).
                            Read more about NSF GRF <a href="https://www.nsfgrfp.org/">here</a> and see the 2022 awards list <a href="https://www.research.gov/grfp/AwardeeList.do?method=loadAwardeeList">here</a>.
                        </p>
                    </div>
                </div>

                <div class="row deez_nuts_subhead justify-content-center align-items-center">
                    <div class="col-md-10">
                    Publications
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-md-10">
                        <p class="link_style" style="margin : 0; padding-top:0; margin-bottom: 0;">
                            <a href="#">
                                Machine learning reveals memory of the parent phases in ferroelectric relaxors Ba(Ti1-x,Zrx)O3.
                            </a>
                        </p>
                        <p class="peepee_small left_pad">
                            Ladera, A., Kashikar, R., Lisenkov, S., and Ponomareva, I. (2023). Accepted for publication. <a href="https://arxiv.org/pdf/2212.14087.pdf">[Arxiv].</a>                          
                        </p> 
                        <p class="link_style" style="margin : 0; padding-top:0; margin-bottom: 0;">
                            <a href="https://pubs.acs.org/doi/10.1021/acs.jctc.2c00468">
                            Exploiting Ligand Additivity for Transferable Machine Learning of Multireference Character Across Known Transition Metal Complex Ligands
                            </a>
                        </p>
                        <p class="peepee_small left_pad">
                            Duan, C., Ladera, A.J., Liu, J.C.L., Taylor, M.G., Ariyarathna, I.R., Kulik, H.J. (2022). Journal of Chemical Theory and Computation. 1549-9618. <a href="https://arxiv.org/pdf/2205.02879.pdf">[Arxiv].</a>                        
                        </p> 
                        <p class="link_style" style="margin : 0; padding-top:0;">
                            <a href="https://doi.org/10.1016/j.actamat.2021.117038">Phase diagrams, superdomains, and superdomain walls in (Kx , Na1-xNb)O3 epitaxial thin films</a>
                        </p>
                        <p class="peepee_small left_pad">
                            Zhou, M.J., Wang, B., Ladera, A., Bogula, L., Liu, H.X., Chen, L.Q., and Nan, C.W. (2021). Acta Materialia, 215, 117038.
                        </p>
                        <p class="link_style" style="margin : 0; padding-top:0;">
                            <a href="#">Phase stability and three-dimensional structures of polydomains in orthorhombic ferroelectric thin films under anisotropic misfit strains</a>
                        </p>
                        <p class="peepee_small left_pad">
                            Wang, B., Bogula, L., Ladera, A., Wang, J.J., Schmidbauer, M., Schwarzkopf, J., and Chen, L.Q. (2021). In review.
                        </p>
                        <p class="link_style" style="margin : 0; padding-top:0;">
                            <a href="https://doi.org/10.1103/PhysRevB.102.224109">
                                Ba(Ti1-x, Zrx)O3 relaxors: Dynamic ferroelectrics in the gigahertz frequency range
                            </a>
                        </p>
                        <p class="peepee_small left_pad">
                            Lisenkov, S., Ladera, A., and Ponomareva, I. (2020). Phys. Rev. B, 102, 224109.
                        </p>    
                        <p class="link_style" style="margin : 0; padding-top:0;">
                            <a href="https://doi.org/10.1063/5.0029167">
                                Temperature Dependence of Three-Dimensional Domain Wall Arrangement in Ferroelectric K0.9Na0.1NbO3 Epitaxial Thin Films
                            </a>
                        </p>    
                        <p class="peepee_small left_pad">
                            Schmidbauer, M., Bogula, L., Wang, B., Hanke, M., von Helden, L., Ladera, A., Wang, J.J., Chen, L.Q., and Schwarzkopf, J. (2020). J. Appl. Phys. 128.                  
                        </p>        
                    </div>
                </div>

                <div class="row deez_nuts_subhead justify-content-center align-items-center">
                    <div class="col-md-10">
                        Presentations
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-10">
                        <p class="link_style" style="margin : 0; padding-top:0;">
                            <a href="#">
                                Ferroelectric Phase Transitions in Strained K0.9Na0.1NbO3 Epitaxial Films Studied by in situ X-Ray Diffraction and Three-Dimensional Phase-Field Simulations
                            </a>
                        </p>
                        <p class="peepee_small left_pad">
                            Schmidbauer, M., Bogula, L., Wang, B., Hanke, M., von Helden, L., Ladera, A., Wang, J.J., Chen, L.Q., and Schwarzkopf, J. Oral presentation session presented at: International Conference on Advances in Functional Materials (AAAFM) at UCLA; 2021 August 18-20; University of California, Los Angeles, CA.                            
                        </p>
                    </div>
                    <div class="col-md-10">
                        <p class="link_style" style="margin : 0; padding-top:0;">
                            <a href="../static/Adriana Ladera - MSRP Poster 2021.pdf">
                                Exploring Transition Metal Complex Space with Computation and Artificial Neural Networks
                            </a>
                        </p>
                        <p class="peepee_small left_pad">
                            Ladera, A., Duan, C., Vennelakanti, V., and Kulik, H.J. Poster session presented at: 36th Annual MIT Summer Research Program Research Forum; 2021 August 5; Massachusetts Institute of Technology, Cambridge MA.                            
                            
                        </p>
                    </div>
                    <div class="col-md-10">
                        <p class="link_style" style="margin : 0; padding-top:0;">
                            <a href="../static/Adriana Ladera - REU Poster 2019.pdf">
                                Phase-Field Simulations: Anisotropic Misfit Strain Phase Diagram of K0.5Na0.5NbO3 Thin Films
                            </a>
                        </p>
                        <p class="peepee_small left_pad">
                            Ladera, A., Wang, B., Wang, J.J., and Chen, L.Q. Poster session presented at: 2019 Penn State REU Symposium; 2019 August 1; Penn State University, University Park PA.
                            
                        </p>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-5">
                            <img src="../static/Adriana Ladera - MSRP Poster 2021.png", width="100%"/>
                        </div>
                        <div class="col-md-5">
                            <img src="../static/Adriana Ladera - REU Poster 2019 New Title.png", width="100%"/>
                        </div>
                    </div>
                    <p class="padding"></p>
                    <p class="padding"></p>
                    <p class="padding"></p>
                    <p class="padding"></p>
            <!-- end container -->
            </div>
        <!-- end transition  -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
        